

        @media (max-width: 1440px) {
        body {
        justify-content: center;
        }
        }

body {
    font-family:'Times New Roman', Times, serif;
    padding: 0;
    color: #333;
}


#LogoGamboa {
    width: 190px;
    Height: 72px;
    position: 100x 37y;
}

   h1 {
    font-weight: bold;
    font-size: 40px;
    display:block;
    text-align: left;
   }



#Introducción {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: baseline;
}
.caja19 {
    width: 400px;
    height: 106px;
    text-align: left;
    font-size: 40px;
    margin-left: 118px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.caja20 {
    width: 512px;
    height: 92px;
    text-align: left;
    font-size: 15px;
    margin-left: 118px;
    flex-direction: column;
}


   #navegación {
    width: 726px;
    height: 45px;
    gap: 57px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: right;
    float: right;
    flex-wrap: wrap;
    text-align: center;
   }
      .menú1{
    width: 57px;
    height: 45px;
    font-size: 20px;
        }

    .menú2{
    width: 102px;
    height: 45px;
    font-size: 20px;
        }

    .menú3{
    width: 88px;
    height: 45px;
    font-size: 20px;
        }

    .menú4{
    width: 87px;
    height: 45px;
    font-size: 20px;
        }
    
    .menú5{
    width: 164px;
    height: 31.25px;
        }

        #caracteristicas {
    display: flex;
    grid-template-columns: 295px 295px 295px 295px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-top: 68px;
    margin-bottom: 68px;
    margin-left: 100px;
    margin-right: 100px;
    }

    .caja1 {
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 295px;
    height: 295px;
    background-color: #3A2715;
    text-align:center;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    }

        .caja2 {
                display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 295px;
    height: 295px;
    background-color: #5A3725;
    text-align:center;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    
    }

        .caja3 {
                display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 295px;
    height: 295px;
    background-color: #8C4730;
    text-align:center;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    }

        .caja4 {
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 295px;
    height: 295px;
    background-color: #B78350;
    text-align:center;
    font-size: 20px;
    color: white;
    border-radius: 20px;

    }
      
    
    #Productos {
    display: grid;
    grid-template-columns: 295px 295px 295px 295px;
    grid-template-rows: 1fr;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 98px;
    font-size: 24px;
    font-weight: bold;
    color: #8C4730;
    }

    .caja5 {
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 295px;
    height: 382px;
    background-color: rgba(183, 131, 80, 0.1);
    text-align:center;
    margin: 10px;
    border-radius: 20px;

    }

    .caja6 {
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 295px;
    height: 382px;
    background-color: rgba(183, 131, 80, 0.1);
    text-align:center;
    margin: 10px;
    border-radius: 20px;
    }

    .caja7 {
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 295px;
    height: 382px;
    background-color: rgba(183, 131, 80, 0.1);
    text-align:center;
    margin: 10px;
    border-radius: 20px;
    }

    .caja8 {
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 295px;
    height: 382px;
    background-color: rgba(183, 131, 80, 0.1);
    text-align:center;
    margin: 10px;
    border-radius: 20px;
    }

    .caja9 {
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 295px;
    height: 382px;
    background-color: rgba(183, 131, 80, 0.1);
    text-align:center;
    margin: 10px;
    border-radius: 20px;
    }

    .caja10 {
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 295px;
    height: 382px;
    background-color: rgba(183, 131, 80, 0.1);
    text-align:center;
    margin: 10px;
    border-radius: 20px;
    }

    .caja11 {
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 295px;
    height: 382px;
    background-color: rgba(183, 131, 80, 0.1);
    text-align:center;
    margin: 10px;
    border-radius: 20px;
    }

    .caja12 {
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 295px;
    height: 382px;
    background-color: rgba(183, 131, 80, 0.1);
    text-align:center;
    margin: 10px;
    border-radius: 20px;
    }

    #Ofertas {
    background-image: url(Assets/Inicio-Ofertas/OfertasBanner1.png);
    color: white;
    width: 1440px;
    height: 350px;
    justify-content: top;
    padding-top: 115px;
    padding-bottom: 115px;
    }
    .caja22 {
    width: 330px;
    height: 350px;
    position: 180px 115px;
    margin-left: 170px;
    }
    
    .button {
  background-color: white;
  border: none;
  color: black;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: medium;
 }

        #Titulo1 {
    font-size: 40px;
    }
    #Titulo3 {
    font-size: 24px;
    }
    #Parrafo {
    font-size: 20px;
    }
    #Titulo2 {
    font-size: 24px;
    }





     #Noticias-Blog-Tutoriales {
    margin-bottom: 80px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 1fr;
    column-gap: 20px;
    justify-content: center;
    }

    .caja13 {
    width: 400px;
    height: 200px;
    background-image: url(Assets/Inicio-Noticias/Noticia1.png);
    background-size: 400px 200px;
    text-align:center;
    }

    .caja14 {
    width: 400px;
    height: 200px;
    background-image: url(Assets/Inicio-Noticias/Noticia2.png);
    background-size: 400px 200px;
    text-align:center;
    }

    .caja15 {
    width: 400px;
    height: 200px;
    background-image: url(Assets/Inicio-Noticias/Noticia3.png);
    background-size: 400px 200px;
    text-align:center;
    }

    .caja16 {
    width: 400px;
    height: 120px;
    font-size: 16px;
    color: black;
    text-align: left;
    }

    .caja17 {
    width: 400px;
    height: 120px;
    font-size: 16px;
    color: black;
    text-align:  left;
    }

    .caja18 {
    width: 400px;
    height: 120px;
    font-size: 16px;
    color: black;
    text-align:left;
    }



    footer {
        background-color: rgba(90, 55, 37, 1);
        color: white;
    }

    main {
        background-image: url(Assets/Inicio-Elementos/Fondo_Menu.png);
        color: white;
        width:1440px;
        height: 500px;
        background-position: center;
    }

